html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.preloader .loading {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;

	transform: scale(1.25);
}
.preloader .loading div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #333;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.preloader .loading div:nth-child(1) {
	left: 6px;
	animation: preloader1 0.6s infinite;
}
.preloader .loading div:nth-child(2) {
	left: 6px;
	animation: preloader2 0.6s infinite;
}
.preloader .loading div:nth-child(3) {
	left: 26px;
	animation: preloader2 0.6s infinite;
}
.preloader .loading div:nth-child(4) {
	left: 45px;
	animation: preloader3 0.6s infinite;
}

@keyframes preloader1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes preloader3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes preloader2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}

.preloader 
{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e67e22;
	z-index: 10000;
	align-items: center;
	justify-content: center;
}

.preloader .loading .loader {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #4a3f50;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url("../assets/images/bg.jpg");
	background-size: cover;
}

.infos {
	display: flex;
	position: relative;
	background: rgba(255, 255, 255, 0.3);
	height: 200px;
	text-align: center;
	color: #333;
	width: 25%;
	opacity: 0;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
}

.infos.dark {
	color: #ccc;
}

.infos[data-type=environment] {
	position: absolute;
	top: 0;
	right: -30%;
	margin: 20px 10px;

	transition: right .4s ease-out, opacity .4s ease-out;
}

.infos[data-type=health] {
	position: absolute;
	top: 0;
	left: -30%;
	margin: 20px 10px;

	transition: left .4s ease-out, opacity .4s ease-out;
}

.infos[data-type=health] .fa-heartbeat {
	position: relative;
	transition: top .2s ease-out, transform .2s ease-out;
}

.info p {
	margin: 0;
	font-size: 1.35em;
}

.info i {
	font-size: 1.5em;
	margin-top: 15px;
}

.info {
	width: 100px;
	height: 100px;
	padding: 15px;
	border: 1px solid #333;
	border-radius: 50%;
	margin: 25px;

	transform: rotate(30deg) scale(0.5);
	opacity: 0;
	transition: transform .2s ease-out, opacity .4s ease-out;
}

.info.dark {
	border-color: #ccc;
}

.menu {
	width: 45%;
	height: 80vh;
	margin: auto;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50px;
	opacity: 0;
	transform: scale(0.1);
	padding-top: 50px;

	transition: transform .75s ease-out, opacity .75s ease-out;
}

.menu .applications {
	width: 80%;
	height: 100%;
	margin: auto;
	text-align: center;
}

.application {
	display: inline-block;

	text-align: center;
	border: 1px solid #333;
	cursor: pointer;
	margin: 20px;
	padding: 0;
	border-radius: 50%;
	height: 135px;

	transition: transform .4s ease-out, background .2s ease-out;
}

.application.dark {
	border-color: #ccc;
}

.application:hover {
	transform: scale(1.05);
	background: rgba(255, 255, 255, 0.2);
}

.application:active {
	transform: scale(1.1);
}

.applications .application i {
	font-size: 4em;
	color: #333;
	transform: translateY(60%);
}

.applications .application.dark i {
	color: #ccc;
}